.section {
  margin-bottom: 100px;

  &__titles {
    margin-bottom: 50px;
  }

  &-title {
    margin: 0;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: #3A4661;
  }

  &__title {
    position: relative;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 50%;
      width: 30px;
      height: 3px;
      background: #6CA6C1;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 767.98px) {
  .section {
    &__titles {
      margin-bottom: 70px;
    }

    &__title {
      margin-bottom: 40px;
    }
  }
}