section, header, footer {
  padding: 0 calc(50vw - 585px)
}

@media (max-width: 1380px) {
  section, header, footer {
    padding: 0 calc(50vw - 520px)
  }
}

@media (max-width: 1140px) {
  section, header, footer {
    padding: 0 calc(50vw - 420px)
  }
}

@media (max-width: 991.98px) {
  section, header, footer {
    padding: 0 calc(50vw - 380px)
  }
}

@media (max-width: 767.98px) {
  section, header, footer {
    padding: 0 15px;
  }
}